@font-face {
	font-family: 'MyriadPro';
	src: url('fonts/MyriadPro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body{
    background-image: url(../img/bg.jpg);
}

.wrapper{
    margin: 0 auto;
    width: 500px;
}

/*header*/
h1{
    font-size: 36px;
    font-family: 'MyriadPro',Arial;
    text-transform: uppercase;
    padding: 21px 7px 0;
}

.foto{margin: -5px 0 3px 150px;}

.text{
    font: 14px 'MyriadPro',Arial;
    color: #1f1f1f;
    margin: 13px 0 20px 3px;
}

/*body*/
.content{
    border-top: 1px solid #C8C9CB;
    padding: 19px 0 0 5px;
}

.content-subheading{
    font: 16px 'MyriadPro',Arial;
    font-weight: bold;
    letter-spacing: .3px;
    margin-left: -2px;
}

.motivation{
    font: 13px Arial;
    font-weight: bold;
    color: #1f1f1f;
    line-height: 18px;
    letter-spacing: -0.4px;
    padding: 10px 0 5px 30px;
}

.contacts-tel{
    border-top: 1px solid #C8C9CB;
    padding-top: 19px;
}

.contacts-tel-subheading,
.contacts-social-subheading,
.footer-subheading{
    font: 16px 'MyriadPro',Arial;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin-left: 1px;
}

.text-phone{
    font: 14px 'MyriadPro',Arial;
    color: #1f1f1f;
    padding: 7px 0px 2px 38px;     
}

.contacts-social{margin-top: 10px;}

.social{
    font: 13px 'MyriadPro', Arial;
    color: #0055D2;
    font-style: italic;
    font-weight: bold;
    line-height: 58px;
    margin-left: 36px;
}

/*footer*/
.footer{
    font: 14px 'MyriadPro';
    border-top: 1px solid #C8C9CB;
    padding-top: 18px;
}

.footer-text{padding: 8px 0 0 38px;}